@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {

    content              : "";
    background-image     : url("https://i.postimg.cc/9Q0bD8d4/Background-1-min.png");
    background-attachment: fixed;
    background-repeat    : no-repeat;
    background-position  : center;
    background-size      : cover;
    background-color     : rgba(255, 255, 255, 1);
}

h3,
h2,
h1 {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style : normal;
}

p {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style : normal;
    font-size  : 18px;
    color      : #000;
}

#photo {
    border-radius: 3px 3px 0px 0px;
    box-shadow   : rgb(38, 57, 77) 0px 20px 30px -10px;
}

.tooltip {
    position     : relative;
    display      : inline-block;
    border-bottom: 1px dotted black;
}

.tooltip-inner {
    text-align: center;
    /* Centrer le texte du tooltip */
}

/* Décaler le tooltip vers le haut pour le centrer */
.tooltip.center .tooltip-arrow {
    left     : 50%;
    transform: translateX(-50%);
}

a {
    text-decoration: none;
}

#forms,
.politik {
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

.form-control,
#gridCheck {
    background-color: #ffffff62;
    border          : 0px;
    border-radius   : 3px;
}

.form-control:hover,
#gridCheck:hover {
    background-color: #ffffff62;
}

.btn {
    background-color: rgba(227, 141, 153, 0.74);
    border-radius   : 2px;
}

.btn:hover {
    border       : rgba(227, 141, 153, 0.74) solid 2px;
    border-radius: 2px;
}

table {
    width          : 75%;
    border-collapse: collapse;
    margin-bottom  : 20px;
}

th,
td {
    border    : 1px solid #dddddd;
    padding   : 8px;
    text-align: left;
}

th {
    background-color: #f2f2f29e;
}

tbody tr:nth-child(even) {
    background-color: #f2f2f25e;
}